{% extends 'base.html' %}

{% block title %}
Посты
{% endblock %}

{% block body %}
<div class="container mt-0">
    <h1>Статьи!</h1>
    <p>Это страница с статьями</p>

    {% if articles|length > 0 %}

        {% for el in articles %}
        <div class="py-2 px-3 bg-success text-white rounded mybtn" style="margin-top: 25px !important;" >
         <h2>{{el.title}}</h2>
            <p>{{el.intro}}</p>
            <p><b>{{el.date.date()}}</b></p>
            <a href="/posts/{{el.id}}" class="btn btn-warning">Поподробнее</a>
        </div>
        {% endfor %}
    {% else %}
    <p>Статей нет</p>
    {% endif %}
</div>
{% endblock %}